* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#FFFFFF, #BDBDBD);
}

.mainpage {
  display: block;
  width: auto;
  height: 2668px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
 }

 .page {
   width: auto;
   height: 33.3%;
   margin-left: auto;
   margin-right: auto;
   border: 1px solid transparent;
  }

@media only screen and (max-width: 375px) {

  .mainpage {
    display: block;
    width: auto;
    height: 2668px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
   }

   .page {
     width: auto;
     margin-left: auto;
     margin-right: auto;
     border: 1px solid transparent;
    }


  .dragon {
    width: 33%;
    height: 100%;
    border: 1px solid transparent;
    position: fixed;
    right: 0;
    bottom: 0;

  }

  .dragonhead {
    width: 30%;
    height: 30%;
    background: url('DragonHeadDefinitive.svg');
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    border: 1px solid transparent;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .dragonbody {
    width: auto;
    height: 70%;
    border: 1px solid transparent;
  }

  .dragonpaw {
    width: 50%;
    height: 10%;
    border: 1px solid transparent;
    background: url('DragonPaw.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 30%;
  }

  .dragonpawtwo {
    width: 50%;
    height: 10%;
    border: 1px solid transparent;
    background: url('DragonPaw.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 8%;
    bottom: 67%;
  }

  ul {
    list-style-type: none;
  }

  .bodyscale {
    background-color: transparent;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    height: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .bodyscaleone {
    margin-left: 100px;
    margin-right: 10px;
    animation: 4s ease 4s infinite movescaleone;
  }
  @keyframes movescaleone {
    0% {margin-left: 100px;
        margin-right: 10px;}
    33% {margin-left: 92px;
         margin-right: 18px;}
    66% {margin-left: 110px;
         margin-right: 2px;}
    100% {margin-left: 100px;
          margin-right: 10px;}
  }
  .bodyscaletwo {
    margin-left: 100px;
    margin-right: 7px;
    animation: 4s ease 4s infinite movescaletwo;
  }
  @keyframes movescaletwo {
    0% {margin-left: 100px;
        margin-right: 7px;}
    33% {margin-left: 92px;
         margin-right: 15px;}
    66% {margin-left: 108px;
         margin-right: 1px;}
    100% {margin-left: 100px;
          margin-right: 7px;}
  }

  .bodyscalethree {
    margin-left: 101px;
    margin-right: 5px;
    animation: 4s ease 4s infinite movescalethree;
  }
  @keyframes movescalethree {
    0% {margin-left: 101px;
        margin-right: 5px;}
    33% {margin-left: 93px;
         margin-right: 13px;}
    66% {margin-left: 107px;
         margin-right: 1px;}
    100% {margin-left: 101px;
          margin-right: 5px;}
  }

  .bodyscalefour {
    margin-left: 101px;
    margin-right: 2px;
    animation: 4s ease 4s infinite movescalefour;
  }
  @keyframes movescalefour {
    0% {margin-left: 101px;
        margin-right: 2px;}
    33% {margin-left: 95px;
         margin-right: 8px;}
    66% {margin-left: 106px;
         margin-right: 1px;}
    100% {margin-left: 101px;
          margin-right: 2px;}
  }

  .bodyscalefive {
    margin-left: 99px;
    margin-right: 1px;
    animation: 4s ease 4s infinite movescalefive;
  }
  @keyframes movescalefive {
    0% {margin-left: 99px;}
    33% {margin-left: 95px;
         margin-right: 5px; }
    66% {margin-left: 103px;
         margin-right: 1px;}
    100% {margin-left: 99px;}
  }

  .bodyscalesix {
    margin-left: 97px;
    margin-right: 1px;
    animation: 4s ease 4s infinite movescalesix;
  }

  @keyframes movescalesix {
    0% {margin-left: 97px;}
    33% {margin-left: 96px;
         margin-right: 2px; }
    66% {margin-left: 98px;
         margin-right: 1px;}
    100% {margin-left: 97px;}
  }

  .bodyscaleseven {
    margin-left: 92px;
    margin-right: 1px;
    animation: 4s ease 4s infinite movescaleseven;
  }

  @keyframes movescaleseven {
    0% {margin-left: 92px;
        border-right: white;}
    5% {border-right: black;}
    30% {margin-left: 94px;
         margin-right: 1px;}
    60% {margin-left: 88px;
         margin-right: 8px;}
    100% {margin-left: 92px;}
  }

  .bodyscaleeight {
    margin-left: 87px;
    margin-right: 1px;
    animation: 4s ease 4s infinite movescaleeight;
  }

  @keyframes movescaleeight {
    0% {margin-left: 87px;
        border-right: transparent;}
    5% {border-right: black;}
    33% {margin-left: 91px;
         margin-right: 1px;}
    66% {margin-left: 78px;
         margin-right: 14px;}
    100% {margin-left: 87px;}
  }

  .bodyscalenine {
    margin-left: 82px;
    margin-right: 1px;
    animation: 4s ease 4s infinite movescalenine;
  }

  @keyframes movescalenine {
    0% {margin-left: 82px;
        border-right: transparent;}
    5% {border-right: black;}
    33% {margin-left: 88px;
         margin-right: 1px;}
    66% {margin-left: 70px;
         margin-right: 18px;}
    100% {margin-left: 82px;
          margin-right: 1px;}
  }

  .bodyscaleten {
    margin-left: 77px;
    margin-right: 2px;
    animation: 4s ease 4s infinite movescaleten;
  }

  @keyframes movescaleten {
    0% {margin-left: 77px;
        margin-right: 2px;
        border-right: transparent;}
    5% {border-right: black;}
    33% {margin-left: 80px;
         margin-right: 1px;}
    66% {margin-left: 72px;
         margin-right: 11px;}
    100% {margin-left: 77px;}
  }

  .bodyscaleeleven {
    margin-left: 73px;
    margin-right: 5px;
    animation: 4s ease 4s infinite movescaleeleven;
  }

  @keyframes movescaleeleven {
    0% {margin-left: 73px;
        margin-right: 5px;}
    33% {margin-left: 70px;
         margin-right: 8px;}
    66% {margin-left: 78px;
         margin-right: 4px;}
    100% {margin-left: 73px;
          margin-right: 5px;}
  }

  .bodyscaletwelve {
    margin-left: 70px;
    margin-right: 8px;
    animation: 4s ease 4s infinite movescaletwelve;
  }

  @keyframes movescaletwelve {
    0% {margin-left: 70px;
        margin-right: 8px;}
    33% {margin-left: 66px;
         margin-right: 12px;}
    66% {margin-left: 82px;
         margin-right: 1px;}
    100% {margin-left: 70px;
          margin-right: 8px;}
  }

  .bodyscalethirteen {
    margin-left: 66px;
    margin-right: 10px;
    animation: 4s ease 4s infinite movescalethirteen;
  }

  @keyframes movescalethirteen {
    0% {margin-left: 66px;
        margin-right: 10px;}
    33% {margin-left: 63px;
         margin-right: 13px;}
    66% {margin-left: 86px;
         margin-right: 1px;}
    100% {margin-left: 66px;
          margin-right: 10px;}
  }

  .bodyscalefourteen {
    margin-left: 66px;
    margin-right: 8px;
    animation: 4s ease 4s infinite movescalefourteen;
  }

  @keyframes movescalefourteen {
    0% {margin-left: 66px;
        margin-right: 8px;}
    33% {margin-left: 64px;
         margin-right: 10px;}
    66% {margin-left: 88px;
         margin-right: 1px;}
    100% {margin-left: 66px;
          margin-right: 8px;}
  }

  .bodyscalefifteen {
    margin-left: 70px;
    margin-right: 6px;
    animation: 4s ease 4s infinite movescalefifteen;
  }

  @keyframes movescalefifteen {
    0% {margin-left: 70px;
        margin-right: 6px;}
    33% {margin-left: 68px;
         margin-right: 8px;}
    66% {margin-left: 90px;
         margin-right: 1px;}
    100% {margin-left: 70px;
          margin-right: 6px;}
  }

  .bodyscalesixteen {
    margin-left: 74px;
    margin-right: 3px;
    animation: 4s ease 4s infinite movescalesixteen;
  }

  @keyframes movescalesixteen {
    0% {margin-left: 74px;
        margin-right: 3px;}
    33% {margin-left: 73px;
         margin-right: 4px;}
    66% {margin-left: 92px;
         margin-right: 1px;}
    100% {margin-left: 74px;
          margin-right: 3px;}
  }

  .bodyscaleseventeen {
    margin-left: 78px;
    margin-right: 1px;
    animation: 4s ease 4s infinite movescaleseventeen;
  }

  @keyframes movescaleseventeen {
    0% {margin-left: 78px;
        margin-right: 1px;}
    33% {margin-left: 77px;
         margin-right: 2px;}
    66% {margin-left: 90px;
         margin-right: 1px;}
    100% {margin-left: 78px;
          margin-right: 1px;}
  }

  .bodyscaleeighteen {
    margin-left: 80px;
    margin-right: 1px;
    animation: 4s ease 4s infinite movescaleeighteen;
  }

  @keyframes movescaleeighteen {
    0% {margin-left: 80px;
        margin-right: 1px;}
    33% {margin-left: 79px;
         margin-right: 2px;}
    66% {margin-left: 86px;
         margin-right: 1px;}
    100% {margin-left: 80px;
          margin-right: 1px;}
  }

  .bodyscalenineteen {
    margin-left: 80px;
    margin-right: 1px;
    animation: 4s ease 4s infinite movescalenineteen;
  }

  @keyframes movescalenineteen {
    0% {margin-left: 80px;
        margin-right: 1px;}
    33% {margin-left: 82px;
         margin-right: 1px;}
    66% {margin-left: 78px;
         margin-right: 1px;}
    100% {margin-left: 80px;
          margin-right: 1px;}
  }

  .bodyscaletwenty {
    margin-left: 78px;
    margin-right: 1px;
    animation: 4s ease 4s infinite movescaletwenty;
  }

  @keyframes movescaletwenty {
    0% {margin-left: 78px;
        margin-right: 1px;}
    33% {margin-left: 84px;
         margin-right: 1px;}
    66% {margin-left: 70px;
         margin-right: 4px;}
    100% {margin-left: 78px;
          margin-right: 1px;}
  }

  .bodyscaletwentyone {
    margin-left: 74px;
    margin-right: 1px;
    animation: 4s ease 4s infinite movescaletwentyone;
  }

  @keyframes movescaletwentyone {
    0% {margin-left: 74px;
        margin-right: 1px;}
    33% {margin-left: 88px;
         margin-right: 1px;}
    66% {margin-left: 64px;
         margin-right: 8px;}
    100% {margin-left: 74px;
          margin-right: 1px;}
  }

  .bodyscaletwentytwo {
    margin-left: 70px;
    margin-right: 3px;
    animation: 4s ease 4s infinite movescaletwentytwo;
  }

  @keyframes movescaletwentytwo {
    0% {margin-left: 70px;
        margin-right: 3px;}
    33% {margin-left: 92px;
         margin-right: 1px;}
    66% {margin-left: 59px;
         margin-right: 14px;}
    100% {margin-left: 70px;
          margin-right: 3px;}
  }

  .bodyscaletwentythree {
    margin-left: 64px;
    margin-right: 7px;
    animation: 4s ease 4s infinite movescaletwentythree;
  }

  @keyframes movescaletwentythree {
    0% {margin-left: 64px;
        margin-right: 7px;}
    33% {margin-left: 92px;
         margin-right: 1px;}
    66% {margin-left: 53px;
         margin-right: 20px;}
    100% {margin-left: 64px;
          margin-right: 7px;}
  }

  .bodyscaletwentyfour {
    margin-left: 58px;
    margin-right: 13px;
    animation: 4s ease 4s infinite movescaletwentyfour;
  }

  @keyframes movescaletwentyfour {
    0% {margin-left: 58px;
        margin-right: 13px;}
    33% {margin-left: 88px;
         margin-right: 1px;}
    66% {margin-left: 50px;
         margin-right: 22px;}
    100% {margin-left: 58px;
          margin-right: 13px;}
  }

  .bodyscaletwentyfive {
    margin-left: 52px;
    margin-right: 18px;
    animation: 4s ease 4s infinite movescaletwentyfive;
  }

  @keyframes movescaletwentyfive {
    0% {margin-left: 52px;
        margin-right: 18px;}
    33% {margin-left: 84px;
         margin-right: 1px;}
    66% {margin-left: 46px;
         margin-right: 26px;}
    100% {margin-left: 52px;
          margin-right: 18px;}
  }

  .bodyscaletwentysix {
    margin-left: 46px;
    margin-right: 22px;
    animation: 4s ease 4s infinite movescaletwentysix;
  }

  @keyframes movescaletwentysix {
    0% {margin-left: 46px;
        margin-right: 22px;}
    33% {margin-left: 80px;
         margin-right: 1px;}
    66% {margin-left: 40px;
         margin-right: 26px;}
    100% {margin-left: 46px;
          margin-right: 22px;}
  }

  .bodyscaletwentyseven {
    margin-left: 44px;
    margin-right: 24px;
  }
  .bodyscaletwentyeight {
    margin-left: 44px;
    margin-right: 24px;
  }
  .bodyscaletwentynine {
    margin-left: 46px;
    margin-right: 20px;
  }
  .bodyscalethirty {
    margin-left: 50px;
    margin-right: 16px;
  }
  .bodyscalethirtyone {
    margin-left: 56px;
    margin-right: 10px;
  }
  .bodyscalethirtytwo {
    margin-left: 62px;
    margin-right: 5px;
  }
  .bodyscalethirtythree {
    margin-left: 74px;
    margin-right: 1px;
  }
  .bodyscalethirtyfour {
    margin-left: 78px;
    margin-right: 1px;
  }
  .bodyscalethirtyfive {
    margin-left: 82px;
    margin-right: 1px;
  }




  .pageone {

  }

  .pagetwo {

  }

  .pagethree {

  }
}
