* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {

}

@font-face {
  font-family: 'Helvetica Now';
  src: url('HelveticaNowDisplayXBlk.otf');
  font-style: normal;
  font-weight: 400;
  }

  /* latin-ext */
@font-face {
  font-family: 'Fondamento';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fondamento Regular'), local('Fondamento-Regular'), url(https://fonts.gstatic.com/s/fondamento/v10/4UaHrEJGsxNmFTPDnkaJ96Tp57F2IwN-Pw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Fondamento';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fondamento Regular'), local('Fondamento-Regular'), url(https://fonts.gstatic.com/s/fondamento/v10/4UaHrEJGsxNmFTPDnkaJ96rp57F2IwM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



@media only screen and (max-width: 400px) {

  #container {
    display: flex;
    flex-wrap: wrap;
  }


  .section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   }


  .dragon {
    width: 33%;
    height: 667px;
    border: 1px solid transparent;
    opacity: 0.9;
    position: fixed;
    right: 0;
    bottom: 0;

  }

  .dragonhead {
    width: 112px;
    height: 200px;
    background: url('DragonHeadDefinitive.svg');
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    border: 1px solid transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    filter: invert(1) drop-shadow(1px 1px 1px white)
                      drop-shadow(2px 2px 2px black)
                      drop-shadow(-1px 1px 1px black)
                      drop-shadow(-5px 0 1.2em #EEEEEE);
  }

  .dragonbody {
    width: auto;
    height: 70%;
    border: 1px solid transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
  }

  .dragonpaw {
    width: 50%;
    height: 10%;
    border: 1px solid transparent;
    background: url('DragonPaw.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 21%;
    bottom: 31%;
    animation: 4s ease 1.4s infinite movedragonpaw;
    filter: invert(1) drop-shadow(1px 1px 1px white)
                      drop-shadow(2px 2px 2px black)
                      drop-shadow(-1px 1px 1px black)
                      drop-shadow(-5px 0 1.2em #EEEEEE);
  }

  @keyframes movedragonpaw {
    0% {left: 21%;}
    50% {left: 7%;}
    100% {left: 21%;}
  }

  .dragonpawtwo {
    width: 50%;
    height: 10%;
    border: 1px solid transparent;
    background: url('DragonPaw.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 21%;
    bottom: 67%;
    animation: 4s ease 6.4s infinite movedragonpaw;
    filter: invert(1) drop-shadow(1px 1px 1px white)
                      drop-shadow(2px 2px 2px black)
                      drop-shadow(-1px 1px 1px black)
                      drop-shadow(-5px 0 1.2em #EEEEEE);
  }

  ul {
    list-style-type: none;
  }

  .bodyscale {
    background-color: transparent;
    border-top: 2px solid white;
    border-right: 2px solid transparent;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    height: 7px;
    box-shadow: 1px 1px 1px black,
               -1px 1px 1px black,
               -5px 0 1.2em #EEEEEE,
               inset 0px 1px white;
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .bodyscaleone {
    margin-left: 98px;
    margin-right: 14px;
    border-right: 2px solid white;
    animation: 4s ease 10.2s infinite movescaleone;
  }

  @keyframes movescaleone {
    0% {margin-left: 98px;
        margin-right: 14px;}
    50% {margin-left: 74px;
         margin-right: 38px;}
    100% {margin-left: 98px;
          margin-right: 14px;}
  }

  .bodyscaletwo {
    margin-left: 97px;
    margin-right: 13px;
    border-right: 2px solid white;
    animation: 4s ease 9.9s infinite movescaletwo;
  }

  @keyframes movescaletwo {
    0% {margin-left: 97px;
        margin-right: 13px;}
    50% {margin-left: 73px;
         margin-right: 37px;}
    100% {margin-left: 97px;
          margin-right: 13px;}
  }

  .bodyscalethree {
    margin-left: 96px;
    margin-right: 12px;
    border-right: 2px solid white;
    animation: 4s ease 9.6s infinite movescalethree;
  }

  @keyframes movescalethree {
    0% {margin-left: 96px;
        margin-right: 12px;}
    50% {margin-left: 72px;
         margin-right: 36px;}
    100% {margin-left: 96px;
          margin-right: 12px;}
  }

  .bodyscalefour {
    margin-left: 94px;
    margin-right: 10px;
    border-right: 2px solid white;
    animation: 4s ease 9.3s infinite movescalefour;
  }

  @keyframes movescalefour {
    0% {margin-left: 94px;
        margin-right: 10px;}
    50% {margin-left: 70px;
         margin-right: 34px;}
    100% {margin-left: 94px;
          margin-right: 10px;}
  }

  .bodyscalefive {
    margin-left: 92px;
    margin-right: 8px;
    border-right: 2px solid white;
    animation: 4s ease 9.0s infinite movescalefive;
  }

  @keyframes movescalefive {
    0% {margin-left: 92px;
        margin-right: 8px;}
    50% {margin-left: 68px;
         margin-right: 32px;}
    100% {margin-left: 92px;
          margin-right: 8px;}
  }

  .bodyscalesix {
    margin-left: 90px;
    margin-right: 6px;
    border-right: 2px solid white;
    animation: 4s ease 8.7s infinite movescalesix;
  }

  @keyframes movescalesix {
    0% {margin-left: 90px;
        margin-right: 6px;}
    50% {margin-left: 66px;
         margin-right: 30px;}
    100% {margin-left: 90px;
          margin-right: 6px;}
  }

  .bodyscaleseven {
    margin-left: 88px;
    margin-right: 5px;
    border-right: 2px solid white;
    animation: 4s ease 8.4s infinite movescaleseven;
  }

  @keyframes movescaleseven {
    0% {margin-left: 88px;
        margin-right: 5px;}
    50% {margin-left: 62px;
         margin-right: 28px;}
    100% {margin-left: 88px;
          margin-right: 5px;}
  }

  .bodyscaleeight {
    margin-left: 88px;
    margin-right: 4px;
    border-right: 2px solid white;
    animation: 4s ease 8.1s infinite movescaleeight;
  }

  @keyframes movescaleeight {
    0% {margin-left: 88px;
        margin-right: 4px;}
    50% {margin-left: 60px;
         margin-right: 24px;}
    100% {margin-left: 88px;
          margin-right: 4px;}
  }

  .bodyscalenine {
    margin-left: 88px;
    margin-right: 3px;
    border-right: 2px solid white;
    animation: 4s ease 7.8s infinite movescalenine;
  }

  @keyframes movescalenine {
    0% {margin-left: 88px;
        margin-right: 3px;}
    50% {margin-left: 62px;
         margin-right: 18px;}
    100% {margin-left: 88px;
          margin-right: 3px;}
  }

  .bodyscaleten {
    margin-left: 88px;
    margin-right: 2px;
    border-right: 2px solid white;
    animation: 4s ease 7.5s infinite movescaleten;
  }

  @keyframes movescaleten {
    0% {margin-left: 88px;
        margin-right: 2px;}
    50% {margin-left: 66px;
         margin-right: 8px;}
    100% {margin-left: 88px;
          margin-right: 2px;}
  }

  .bodyscaleeleven {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 7.2s infinite movescale;
  }

  .bodyscaletwelve {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 6.9s infinite movescale;
  }

  .bodyscalethirteen {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 6.6s infinite movescale;
  }

  .bodyscalefourteen {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 6.3s infinite movescale;
  }

  .bodyscalefifteen {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 6.0s infinite movescale;
  }

  .bodyscalesixteen {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 5.7s infinite movescale;
  }

  .bodyscaleseventeen {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 5.4s infinite movescale;
  }

  .bodyscaleeighteen {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 5.1s infinite movescale;
  }

  .bodyscalenineteen {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 4.8s infinite movescale;
  }

  .bodyscaletwenty {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 4.5s infinite movescale;
  }

  .bodyscaletwentyone {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 4.2s infinite movescale;
  }

  .bodyscaletwentytwo {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 3.9s infinite movescale;
  }

  .bodyscaletwentythree {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 3.6s infinite movescale;
  }

  .bodyscaletwentyfour {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 3.3s infinite movescale;
  }


  .bodyscaletwentyfive {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 3.0s infinite movescale;
  }

  .bodyscaletwentysix {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 2.7s infinite movescale;
  }

  .bodyscaletwentyseven {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 2.4s infinite movescale;
  }
  .bodyscaletwentyeight {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 2.1s infinite movescale;
  }
  .bodyscaletwentynine {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 1.8s infinite movescale;

  }
  .bodyscalethirty {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 1.5s infinite movescale;

  }
  .bodyscalethirtyone {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 1.2s infinite movescale;
  }
  .bodyscalethirtytwo {
    margin-left:  88px;
    margin-right: 1px;
    animation: 4s ease 0.9s infinite movescale;
  }

  @keyframes movescale {
    0% {margin-left: 88px;
        margin-right: 1px;}
    50% {margin-left: 69px;
         margin-right: 1px;}
    100% {margin-left: 88px;
          margin-right: 1px;}
  }

  .bodyscalethirtythree {
    margin-left: 92px;
    margin-right: 1px;
    animation: 4s ease 0.6s infinite movescalethirtythree;
  }

  @keyframes movescalethirtythree {
    0% {margin-left: 92px;
        margin-right: 1px;}
    50% {margin-left: 74px;
         margin-right: 1px;}
    100% {margin-left: 92px;
          margin-right: 1px;}
  }

  .bodyscalethirtyfour {
    margin-left: 96px;
    margin-right: 1px;
    animation: 4s ease 0.3s infinite movescalethirtyfour;
  }

  @keyframes movescalethirtyfour {
    0% {margin-left: 96px;
        margin-right: 1px;}
    50% {margin-left: 79px;
         margin-right: 1px;}
    100% {margin-left: 96px;
          margin-right: 1px;}
  }

  .bodyscalethirtyfive {
    margin-left: 100px;
    margin-right: 1px;
    animation: 4s ease 0.0s infinite movescalethirtyfive;
  }

  @keyframes movescalethirtyfive {
    0% {margin-left: 100px;
        margin-right: 1px;}
    50% {margin-left: 84px;
         margin-right: 1px;}
    100% {margin-left: 100px;
          margin-right: 1px;}
  }


  .pageone {
    height: 740px;
    background: linear-gradient(#3E4551, #263238);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;

  }

  .pagetwo {
    height: 740px;
    background: linear-gradient(#263238, #3E4551);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .pagethree {
    height: 740px;
    background: linear-gradient(#3E4551, #263238);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  .showtextcontainer {
    width: 55%;
    height: 96%;
    border: 1px solid transparent;
    margin-top: auto;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .showtext {
    width: 10em;
    height: 10em;
    border: 1px solid white;
    border-image-source: url("WhiteFlametest4.png");
    border-image-outset: 10px;
    border-image-repeat: space;
    border-image-width: auto;
    border-image-slice: 100% 0% 100% 100%;
    border-radius: 100% 0% 100% 0% / 5% 90% 10% 95%;
    background: linear-gradient(175deg, transparent 0%, #FAFAFA 15%, #FAFAFA, #FAFAFA 85%, transparent 100%);
    opacity: 0.9;
    margin: 0;
    font-family: 'Fondamento';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }

  .infocontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
    height: 70%;
  }

  .pageonephoto {
    width: 60%;
    height: auto;
    border: 1px solid black;
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
  }

  .titlename {
    width: auto;
    border: 1px solid transparent;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0%;
    font-size: 18px;
    font-weight: 700;

  }

  .textone {
    width: 40%;
    height: auto;
    border: 1px solid transparent;
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
  }

  .textone p{
    width: auto;
    height: auto;
    writing-mode: vertical-rl;
    text-orientation: upright;
    border: 1px solid transparent;
    position: relative;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);


  }

  .numberdate {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid black;
    border-left: 1px solid transparent;
    margin: 1px;
    font-size: 16px;
    font-weight: 700;
  }

  .buttonscontainer {
    width: 120px;
    height: auto;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;

  }

  .buttonleft {
    width: auto;
    font-size: 30px;
    border: 1px solid transparent;
    background-color: transparent;
  }

  .buttonright {
    width: auto;
    font-size: 30px;
    border: 1px solid transparent;
    background-color: transparent;
  }

  .showtexttwo {
    width: 10em;
    height: 60%;
    border: 1px solid white;
    border-image-source: url("WhiteFlametest4.png");
    border-image-outset: 10px;
    border-image-repeat: space;
    border-image-width: auto;
    border-image-slice: 100% 0% 100% 100%;
    border-radius: 100% 0% 100% 0% / 2% 96% 4% 92%;
    background: linear-gradient(175deg, transparent 0%, #FAFAFA 10%, #FAFAFA, #FAFAFA 90%, transparent 100%);
    opacity: 0.9;
    display: flex;
    margin: 2px;
  }

  .texttwo {
    width: auto;
    height: 80%;
    margin-top: 10%;
    margin-right: 0%;
    margin-bottom: 10%;
    margin-left: 0%;
    font-family: 'Fondamento';
    font-style: normal;
    font-weight: 400;
  }

  .titlecontainer {
    border: 1px solid transparent;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: white;
    text-shadow: 2px 2px black, 0 0 0.8em white;
    font-family: 'Fondamento';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    display: flex;
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    opacity: 0.9;
  }
}
