* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {

}




@media only screen and (max-width: 400px) {

  #container {
    display: flex;
    flex-wrap: wrap;
  }


  .section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   }


  .dragon {
    width: 33%;
    height: 667px;
    border: 1px solid transparent;
    opacity: 0.9;
    position: fixed;
    right: 0;
    bottom: 0;

  }

  .dragonhead {
    width: 112px;
    height: 200px;
    background: url('DragonHeadDefinitive.svg');
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    border: 1px solid transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    filter: invert(1) drop-shadow(1px 1px 1px black)
                      drop-shadow(-1px 1px 1px black)
                      drop-shadow(-5px 0 1.2em #EEEEEE);
  }

  .dragonbody {
    width: auto;
    height: 70%;
    border: 1px solid transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
  }

  .dragonpaw {
    width: 50%;
    height: 10%;
    border: 1px solid transparent;
    background: url('DragonPaw.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 21%;
    bottom: 31%;
    animation: 4s ease 2.5s infinite movedragonpaw;
    filter: invert(1) drop-shadow(1px 1px 1px black)
                      drop-shadow(-1px 1px 1px black)
                      drop-shadow(-5px 0 1.2em #EEEEEE);
  }

  @keyframes movedragonpaw {
    0% {left: 21%;}
    50% {left: 7%;}
    100% {left: 21%;}
  }

  .dragonpawtwo {
    width: 50%;
    height: 10%;
    border: 1px solid transparent;
    background: url('DragonPaw.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 21%;
    bottom: 67%;
    animation: 4s ease 7.5s infinite movedragonpaw;
    filter: invert(1) drop-shadow(1px 1px 1px black)
                      drop-shadow(-1px 1px 1px black)
                      drop-shadow(-5px 0 1.2em #EEEEEE);
  }

  ul {
    list-style-type: none;
  }

  .bodyscale {
    background-color: transparent;
    border-top: 2px solid white;
    border-right: 2px solid transparent;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    height: 7px;
    box-shadow: 1px 1px 1px black, -1px 1px 1px black, -5px 0 1.2em #EEEEEE;
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .bodyscaleone {
    margin-left: 98px;
    margin-right: 14px;
    border-right: 2px solid white;
    animation: 4s ease 11.2s infinite movescaleone;
  }

  @keyframes movescaleone {
    0% {margin-left: 98px;
        margin-right: 14px;}
    50% {margin-left: 74px;
         margin-right: 38px;}
    100% {margin-left: 98px;
          margin-right: 14px;}
  }

  .bodyscaletwo {
    margin-left: 97px;
    margin-right: 13px;
    border-right: 2px solid white;
    animation: 4s ease 10.9s infinite movescaletwo;
  }

  @keyframes movescaletwo {
    0% {margin-left: 97px;
        margin-right: 13px;}
    50% {margin-left: 73px;
         margin-right: 37px;}
    100% {margin-left: 97px;
          margin-right: 13px;}
  }

  .bodyscalethree {
    margin-left: 96px;
    margin-right: 12px;
    border-right: 2px solid white;
    animation: 4s ease 10.6s infinite movescalethree;
  }

  @keyframes movescalethree {
    0% {margin-left: 96px;
        margin-right: 12px;}
    50% {margin-left: 72px;
         margin-right: 36px;}
    100% {margin-left: 96px;
          margin-right: 12px;}
  }

  .bodyscalefour {
    margin-left: 94px;
    margin-right: 10px;
    border-right: 2px solid white;
    animation: 4s ease 10.3s infinite movescalefour;
  }

  @keyframes movescalefour {
    0% {margin-left: 94px;
        margin-right: 10px;}
    50% {margin-left: 70px;
         margin-right: 34px;}
    100% {margin-left: 94px;
          margin-right: 10px;}
  }

  .bodyscalefive {
    margin-left: 92px;
    margin-right: 8px;
    border-right: 2px solid white;
    animation: 4s ease 10.0s infinite movescalefive;
  }

  @keyframes movescalefive {
    0% {margin-left: 92px;
        margin-right: 8px;}
    50% {margin-left: 68px;
         margin-right: 32px;}
    100% {margin-left: 92px;
          margin-right: 8px;}
  }

  .bodyscalesix {
    margin-left: 90px;
    margin-right: 6px;
    border-right: 2px solid white;
    animation: 4s ease 9.7s infinite movescalesix;
  }

  @keyframes movescalesix {
    0% {margin-left: 90px;
        margin-right: 6px;}
    50% {margin-left: 66px;
         margin-right: 30px;}
    100% {margin-left: 90px;
          margin-right: 6px;}
  }

  .bodyscaleseven {
    margin-left: 88px;
    margin-right: 5px;
    border-right: 2px solid white;
    animation: 4s ease 9.4s infinite movescaleseven;
  }

  @keyframes movescaleseven {
    0% {margin-left: 88px;
        margin-right: 5px;}
    50% {margin-left: 62px;
         margin-right: 28px;}
    100% {margin-left: 88px;
          margin-right: 5px;}
  }

  .bodyscaleeight {
    margin-left: 88px;
    margin-right: 4px;
    border-right: 2px solid white;
    animation: 4s ease 9.1s infinite movescaleeight;
  }

  @keyframes movescaleeight {
    0% {margin-left: 88px;
        margin-right: 4px;}
    50% {margin-left: 60px;
         margin-right: 24px;}
    100% {margin-left: 88px;
          margin-right: 4px;}
  }

  .bodyscalenine {
    margin-left: 88px;
    margin-right: 3px;
    border-right: 2px solid white;
    animation: 4s ease 8.8s infinite movescalenine;
  }

  @keyframes movescalenine {
    0% {margin-left: 88px;
        margin-right: 3px;}
    50% {margin-left: 62px;
         margin-right: 18px;}
    100% {margin-left: 88px;
          margin-right: 3px;}
  }

  .bodyscaleten {
    margin-left: 88px;
    margin-right: 2px;
    border-right: 2px solid white;
    animation: 4s ease 8.5s infinite movescaleten;
  }

  @keyframes movescaleten {
    0% {margin-left: 88px;
        margin-right: 2px;}
    50% {margin-left: 66px;
         margin-right: 8px;}
    100% {margin-left: 88px;
          margin-right: 2px;}
  }

  .bodyscaleeleven {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 8.2s infinite movescale;
  }

  .bodyscaletwelve {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 7.9s infinite movescale;
  }

  .bodyscalethirteen {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 7.6s infinite movescale;
  }

  .bodyscalefourteen {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 7.3s infinite movescale;
  }

  .bodyscalefifteen {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 7.0s infinite movescale;
  }

  .bodyscalesixteen {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 6.7s infinite movescale;
  }

  .bodyscaleseventeen {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 6.4s infinite movescale;
  }

  .bodyscaleeighteen {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 6.1s infinite movescale;
  }

  .bodyscalenineteen {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 5.8s infinite movescale;
  }

  .bodyscaletwenty {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 5.5s infinite movescale;
  }

  .bodyscaletwentyone {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 5.2s infinite movescale;
  }

  .bodyscaletwentytwo {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 4.9s infinite movescale;
  }

  .bodyscaletwentythree {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 4.6s infinite movescale;
  }

  .bodyscaletwentyfour {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 4.3s infinite movescale;
  }


  .bodyscaletwentyfive {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 4.0s infinite movescale;
  }

  .bodyscaletwentysix {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 3.7s infinite movescale;
  }

  .bodyscaletwentyseven {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 3.4s infinite movescale;
  }
  .bodyscaletwentyeight {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 3.1s infinite movescale;
  }
  .bodyscaletwentynine {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 2.8s infinite movescale;

  }
  .bodyscalethirty {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 2.5s infinite movescale;

  }
  .bodyscalethirtyone {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 2.2s infinite movescale;
  }
  .bodyscalethirtytwo {
    margin-left:  88px;
    margin-right: 1px;
    animation: 4s ease 1.9s infinite movescale;
  }

  @keyframes movescale {
    0% {margin-left: 88px;
        margin-right: 1px;}
    50% {margin-left: 69px;
         margin-right: 1px;}
    100% {margin-left: 88px;
          margin-right: 1px;}
  }

  .bodyscalethirtythree {
    margin-left: 92px;
    margin-right: 1px;
    animation: 4s ease 1.6s infinite movescalethirtythree;
  }

  @keyframes movescalethirtythree {
    0% {margin-left: 92px;
        margin-right: 1px;}
    50% {margin-left: 74px;
         margin-right: 1px;}
    100% {margin-left: 92px;
          margin-right: 1px;}
  }

  .bodyscalethirtyfour {
    margin-left: 96px;
    margin-right: 1px;
    animation: 4s ease 1.3s infinite movescalethirtyfour;
  }

  @keyframes movescalethirtyfour {
    0% {margin-left: 96px;
        margin-right: 1px;}
    50% {margin-left: 79px;
         margin-right: 1px;}
    100% {margin-left: 96px;
          margin-right: 1px;}
  }

  .bodyscalethirtyfive {
    margin-left: 100px;
    margin-right: 1px;
    animation: 4s ease 1.0s infinite movescalethirtyfive;
  }

  @keyframes movescalethirtyfive {
    0% {margin-left: 100px;
        margin-right: 1px;}
    50% {margin-left: 84px;
         margin-right: 1px;}
    100% {margin-left: 100px;
          margin-right: 1px;}
  }


  .pageone {
    height: 740px;
    background: linear-gradient(#263238, #3E4551);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }

  .pagetwo {
    height: 740px;
    background: linear-gradient(#3E4551, #263238);
    display: flex;
    justify-content: flex-start;
  }

  .pagethree {
    height: 740px;
    background: linear-gradient(#263238, #3E4551);
    display: flex;
    justify-content: flex-start;
  }

  .showtextcontainer {
    width: 60%;
    height: 90%;
    border: 1px solid transparent;
    margin-right: 5%;
    margin-left: 7%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .showtext {
    width: 12em;
    height: 10em;
    border: 1px solid white;
    border-image-source: url("WhiteFlametest4.png");
    border-image-outset: 10px;
    border-image-repeat: space;
    border-image-width: auto;
    border-image-slice: 100% 0% 100% 100%;
    border-radius: 100% 0% 100% 0% / 5% 90% 10% 95%;
    background: linear-gradient(175deg, transparent 0%, #FAFAFA 15%, #FAFAFA, #FAFAFA 85%, transparent 100%);
    opacity: 0.9;
    display: flex;
    margin: 2px;
  }

  .showtexttwo {
    width: 12em;
    height: 24em;
    border: 1px solid white;
    border-image-source: url("WhiteFlametest4.png");
    border-image-outset: 4px;
    border-image-repeat: space;
    border-image-width: auto;
    border-image-slice: 100% 0% 100% 100%;
    border-radius: 100% 0% 100% 0% / 5% 95% 5% 95%;
    background: linear-gradient(175deg, transparent 0%, #FAFAFA 10%, #FAFAFA, #FAFAFA 90%, transparent 100%);
    opacity: 0.9;
    display: flex;
    margin: 2px;
  }
}
