* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#FFFFFF, #BDBDBD);
}

.mainpage {
  display: block;
  width: auto;
  height: 2000px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
 }

 .page {
   width: auto;
   height: 33.3%;
   margin-left: auto;
   margin-right: auto;
   border: 1px solid red;
  }

@media only screen and (max-width: 375px) {

  .mainpage {
    display: block;
    width: auto;
    height: 2668px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
   }

   .page {
     width: auto;
     margin-left: auto;
     margin-right: auto;
     border: 1px solid red;
    }


  .dragon {
    width: 33%;
    height: 100%;
    border: 1px solid green;
    position: fixed;
    right: 0;
    bottom: 0;

  }

  .dragonhead {
    width: 30%;
    height: 30%;
    background: url('dragonheadtwo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    border: 2px solid black;
    position: fixed;
    bottom: auto;
    right: 0;
  }

  .dragonbody {
    width: auto;
    height: 60%;
    border: 3px solid grey;
  }

  ul {
    list-style-type: none;
  }

  .bodyscale {
    background-color: black;
    border: 1px solid black;
    height: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .bodyscaleone {
    margin-left: 8px;
  }
  .bodyscaletwo {
    margin-left: 13px;
  }
  .bodyscalethree {
    margin-left: 21px;

  }
  .bodyscalefour {
    margin-left: 13px;

  }
  .bodyscalefive {
    margin-left: 8px;

  }
  .bodyscalesix {
    margin-left: 13px;

  }
  .bodyscalethirty {
    margin-left: 80px;
  }




  .pageone {

  }

  .pagetwo {

  }

  .pagethree {

  }
}
