* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#FFFFFF, #BDBDBD);
}

.mainpage {
  display: block;
  width: auto;
  height: 2668px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
 }

 .page {
   width: auto;
   height: 33.3%;
   margin-left: auto;
   margin-right: auto;
   border: 1px solid transparent;
  }

@media only screen and (max-width: 375px) {

  .mainpage {
    display: block;
    width: auto;
    height: 2668px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
   }

   .page {
     width: auto;
     margin-left: auto;
     margin-right: auto;
     border: 1px solid transparent;
    }


  .dragon {
    width: 33%;
    height: 100%;
    border: 1px solid transparent;
    position: fixed;
    right: 0;
    bottom: 0;

  }

  .dragonhead {
    width: 30%;
    height: 30%;
    background: url('DragonHeadDefinitive.svg');
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    border: 1px solid transparent;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .dragonbody {
    width: auto;
    height: 70%;
    border: 1px solid transparent;
  }

  .dragonpaw {
    width: 50%;
    height: 10%;
    border: 1px solid transparent;
    background: url('DragonPaw.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 21%;
    bottom: 31%;
    animation: 4s ease 4s infinite movedragonpaw;
  }

  @keyframes movedragonpaw {
    0% {left: 21%;}
    50% {left: 7%;}
    100% {left: 21%;}
  }

  .dragonpawtwo {
    width: 50%;
    height: 10%;
    border: 1px solid transparent;
    background: url('DragonPaw.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 21%;
    bottom: 67%;
    animation: 4s ease 8s infinite movedragonpaw;
  }

  ul {
    list-style-type: none;
  }

  .bodyscale {
    background-color: transparent;
    border-top: 2px solid black;
    border-right: 2px solid transparent;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    height: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .bodyscaleone {
    margin-left: 98px;
    margin-right: 14px;
    border-right: 2px solid black;
    animation: 4s ease 10.4s infinite movescaleone;
  }

  @keyframes movescaleone {
    0% {margin-left: 98px;
        margin-right: 14px;}
    50% {margin-left: 74px;
         margin-right: 38px;}
    100% {margin-left: 98px;
          margin-right: 14px;}
  }

  .bodyscaletwo {
    margin-left: 97px;
    margin-right: 13px;
    border-right: 2px solid black;
    animation: 4s ease 10.2s infinite movescaletwo;
  }

  @keyframes movescaletwo {
    0% {margin-left: 97px;
        margin-right: 13px;}
    50% {margin-left: 73px;
         margin-right: 37px;}
    100% {margin-left: 97px;
          margin-right: 13px;}
  }

  .bodyscalethree {
    margin-left: 96px;
    margin-right: 12px;
    border-right: 2px solid black;
    animation: 4s ease 10.0s infinite movescalethree;
  }

  @keyframes movescalethree {
    0% {margin-left: 96px;
        margin-right: 12px;}
    50% {margin-left: 72px;
         margin-right: 36px;}
    100% {margin-left: 96px;
          margin-right: 12px;}
  }

  .bodyscalefour {
    margin-left: 94px;
    margin-right: 10px;
    border-right: 2px solid black;
    animation: 4s ease 9.8s infinite movescalefour;
  }

  @keyframes movescalefour {
    0% {margin-left: 94px;
        margin-right: 10px;}
    50% {margin-left: 70px;
         margin-right: 34px;}
    100% {margin-left: 94px;
          margin-right: 10px;}
  }

  .bodyscalefive {
    margin-left: 92px;
    margin-right: 8px;
    border-right: 2px solid black;
    animation: 4s ease 9.6s infinite movescalefive;
  }

  @keyframes movescalefive {
    0% {margin-left: 92px;
        margin-right: 8px;}
    50% {margin-left: 68px;
         margin-right: 32px;}
    100% {margin-left: 92px;
          margin-right: 8px;}
  }

  .bodyscalesix {
    margin-left: 90px;
    margin-right: 6px;
    border-right: 2px solid black;
    animation: 4s ease 9.4s infinite movescalesix;
  }

  @keyframes movescalesix {
    0% {margin-left: 90px;
        margin-right: 6px;}
    50% {margin-left: 66px;
         margin-right: 30px;}
    100% {margin-left: 90px;
          margin-right: 6px;}
  }

  .bodyscaleseven {
    margin-left: 88px;
    margin-right: 5px;
    border-right: 2px solid black;
    animation: 4s ease 9.2s infinite movescaleseven;
  }

  @keyframes movescaleseven {
    0% {margin-left: 88px;
        margin-right: 5px;}
    50% {margin-left: 62px;
         margin-right: 28px;}
    100% {margin-left: 88px;
          margin-right: 5px;}
  }

  .bodyscaleeight {
    margin-left: 88px;
    margin-right: 4px;
    border-right: 2px solid black;
    animation: 4s ease 9.0s infinite movescaleeight;
  }

  @keyframes movescaleeight {
    0% {margin-left: 88px;
        margin-right: 4px;}
    50% {margin-left: 60px;
         margin-right: 24px;}
    100% {margin-left: 88px;
          margin-right: 4px;}
  }

  .bodyscalenine {
    margin-left: 88px;
    margin-right: 3px;
    border-right: 2px solid black;
    animation: 4s ease 8.8s infinite movescalenine;
  }

  @keyframes movescalenine {
    0% {margin-left: 88px;
        margin-right: 3px;}
    50% {margin-left: 62px;
         margin-right: 18px;}
    100% {margin-left: 88px;
          margin-right: 3px;}
  }

  .bodyscaleten {
    margin-left: 88px;
    margin-right: 2px;
    border-right: 2px solid black;
    animation: 4s ease 8.6s infinite movescaleten;
  }

  @keyframes movescaleten {
    0% {margin-left: 88px;
        margin-right: 2px;}
    50% {margin-left: 66px;
         margin-right: 8px;}
    100% {margin-left: 88px;
          margin-right: 2px;}
  }

  .bodyscaleeleven {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 8.4s infinite movescale;
  }

  .bodyscaletwelve {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 8.2s infinite movescale;
  }

  .bodyscalethirteen {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 8.0s infinite movescale;
  }

  .bodyscalefourteen {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 7.8s infinite movescale;
  }

  .bodyscalefifteen {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 7.6s infinite movescale;
  }

  .bodyscalesixteen {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 7.4s infinite movescale;
  }

  .bodyscaleseventeen {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 7.2s infinite movescale;
  }

  .bodyscaleeighteen {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 7.0s infinite movescale;
  }

  .bodyscalenineteen {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 6.8s infinite movescale;
  }

  .bodyscaletwenty {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 6.6s infinite movescale;
  }

  .bodyscaletwentyone {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 6.4s infinite movescale;
  }

  .bodyscaletwentytwo {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 6.2s infinite movescale;
  }

  .bodyscaletwentythree {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 6.0s infinite movescale;
  }

  .bodyscaletwentyfour {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 5.8s infinite movescale;
  }


  .bodyscaletwentyfive {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 5.6s infinite movescale;
  }

  .bodyscaletwentysix {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 5.4s infinite movescale;
  }

  .bodyscaletwentyseven {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 5.2s infinite movescale;
  }
  .bodyscaletwentyeight {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 5.0s infinite movescale;
  }
  .bodyscaletwentynine {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 4.8s infinite movescale;

  }
  .bodyscalethirty {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 4.4s infinite movescale;

  }
  .bodyscalethirtyone {
    margin-left: 88px;
    margin-right: 1px;
    animation: 4s ease 4.2s infinite movescale;
  }
  .bodyscalethirtytwo {
    margin-left:  88px;
    margin-right: 1px;
    animation: 4s ease 4s infinite movescale;
  }

  @keyframes movescale {
    0% {margin-left: 88px;
        margin-right: 1px;}
    50% {margin-left: 69px;
         margin-right: 1px;}
    100% {margin-left: 88px;
          margin-right: 1px;}
  }

  .bodyscalethirtythree {
    margin-left: 92px;
    margin-right: 1px;
    animation: 4s ease 3.8s infinite movescalethirtythree;
  }

  @keyframes movescalethirtythree {
    0% {margin-left: 92px;
        margin-right: 1px;}
    50% {margin-left: 74px;
         margin-right: 1px;}
    100% {margin-left: 92px;
          margin-right: 1px;}
  }

  .bodyscalethirtyfour {
    margin-left: 96px;
    margin-right: 1px;
    animation: 4s ease 3.6s infinite movescalethirtyfour;
  }

  @keyframes movescalethirtyfour {
    0% {margin-left: 96px;
        margin-right: 1px;}
    50% {margin-left: 79px;
         margin-right: 1px;}
    100% {margin-left: 96px;
          margin-right: 1px;}
  }

  .bodyscalethirtyfive {
    margin-left: 100px;
    margin-right: 1px;
    animation: 4s ease 3.4s infinite movescalethirtyfive;
  }

  @keyframes movescalethirtyfive {
    0% {margin-left: 100px;
        margin-right: 1px;}
    50% {margin-left: 84px;
         margin-right: 1px;}
    100% {margin-left: 100px;
          margin-right: 1px;}
  }

  .pageone {

  }

  .pagetwo {

  }

  .pagethree {

  }
}
